{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "IntercomLastSeenInXDays": "2", // only intercom contacts last seen in last "X" days are fetched (to improve performance)
    "IntercomApiKey": "",
    "KontentProjectId": "",
    "KontentSecureApiKey": "",
    "ElearningDbConnectionString": "",
    "ElearningDbContainerId": "",
    "ElearningDbId": ""
  }
}